/*
* Internet explorer 7 compatible stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
input,textarea { margin: 0; }/* Removes Firefox imposed outline */
a { outline: none; }

body{
    font-family:sans-serif;
    font-size:13px;
}

ul.mnmenu{
    margin:0;
    padding:0;
    list-style:none;
}
ul.mnmenu {
    font-size:0px;
    line-height:25px;
    clear:both;
    background: #777777 url('menuLight.png') repeat-x 50% 50%;
}
ul.mnmenu li{
    font-size:13px;
    list-style:none;
}
ul.mnmenu a {
    padding: 0;
    text-decoration:none;
}
ul.mnmenu li.level-0 {
    -webkit-transition: background linear 0.4s;
    -moz-transition: background linear 0.4s;
    -o-transition: background linear 0.4s;
    -ms-transition: background linear 0.4s;
    transition: background linear 0.4s;
    position:relative;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    min-height: 25px;
    line-height:25px;
    height: 25px;
    _height: 25px;
    vertical-align: top;
    padding:0 25px 0 10px;
    border-left: 1px solid #222222;
}
ul.mnmenu li.level-0 a,
ul.mnmenu li.level-0 a:visited  {
    -webkit-transition: background linear 0.4s;
    -moz-transition: background linear 0.4s;
    -o-transition: background linear 0.4s;
    -ms-transition: background linear 0.4s;
    transition: background linear 0.4s;
    color: black;
}

ul.mnmenu li.level-0.hover a,
ul.mnmenu li.level-0 a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    color:white;
}
ul.mnmenu li.level-0.first{
    border-left:none;
}
ul.mnmenu li.level-0.hover,
ul.mnmenu li.level-0:hover{
    background: #333333 url('menuDark.png') repeat-x 50% 50%;
    outline:0;
}

ul.mnmenu li.level-0 ul{
    position:absolute;
    display: none;
    margin:0;
    padding:0;
    background-color:#333;
    width:14em;
    -webkit-box-shadow:  0px 2px 6px 1px #222;
    box-shadow:  0px 2px 6px 1px #222;
}
ul.mnmenu li.level-0 li{
    position:relative;
    width:13em;
    padding:0 0.5em 0 0.5em;
    display:block;
    float:left;
}
ul.mnmenu li.level-0 li.middle {
    margin:5px 0 5px 0;
}
ul.mnmenu li.level-0 li,
ul.mnmenu li.level-0 li a,
ul.mnmenu li.level-0 li a:visited  {
    color: white;
    word-break: break-all;
}
ul.mnmenu li.level-0 li.hover,
ul.mnmenu li.level-0 li:hover{
    background: #666;
    outline:0;
}

/* ARROWS */
ul.mnmenu li.level-0 span.arrow {
    position:absolute;
    overflow: hidden;
    text-indent: 9999em;
    top:6px;
    right:7px;
    width:10px;
    background:transparent url('menuArrowsFFFFFF.png') no-repeat 0px -100px;
}
ul.mnmenu li.level-0 span.arrow.hover {
    background:transparent url('menuArrowsFFFFFF.png') no-repeat -10px -100px;
}
ul.mnmenu li.level-0 li span.arrow {
    background:transparent url('menuArrowsFFFFFF.png') no-repeat 0px 0px;
}
ul.mnmenu li.level-0 li span.arrow.hover {
    background:transparent url('menuArrowsFFFFFF.png') no-repeat -10px 0px;
}


/** NON-MENU OTHER **/
ul.mnmenu hr,
ul.mnmenu li.level-0 li hr{
    border:0;
    color:#555;
    background-color:#555;
    height:1px;
}

body, input, select, textarea, button {
    font: 1em Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
}
div.content{
    margin:5px;
}
.content {
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
}
.content h1 {
    font-size:2.5em;
}
.content h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee;
}.content h3 {
    margin-top:0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}
.content a {
    color: #4183c4;
    text-decoration: none;
}
.content a:hover {
    text-decoration:underline;
}
.content p{
    margin: 15px 0;
}
div.copyright {
    margin:100px 0 0 0;
}

ul.mnmenu li.level-0 .fa{
    line-height:25px;
}